*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1024px;
    font-family: 'Courier Prime', monospace;
}

html{
    font-size: 62.5%; /* Esto equivale a 10px*/
}

body{
    font-size: 2rem;
    background-color: #f0f0f0;
    color: #222222;    
}

a{
    text-decoration: none;
    color: #484848;
    padding: 10px 20px;
    
}

a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #222222;
       
}

.navegacion{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin: 20px 10px;
    padding: 10px 15px;
    border: 2px solid #000;   
}

.navegacion div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
    
}


