/** Estilos generales */

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1024px;
    font-family: 'Courier Prime', monospace;
}

html{
    font-size: 62.5%; /* Esto equivale a 10px*/
}

body{
    font-size: 2rem;
    background-color: #f0f0f0;
    color: #222222;    
}

a{
    text-decoration: none;
    color: #484848;
    padding: 10px 20px;
    
}

a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #222222;
    border-radius: 10px;
       
}

/** Menú de navegación */

.navegacion{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin: 20px 0px;
    padding: 10px 15px;
    border: 2px solid #000;
    
}

.navegacion div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;   
    
}

/** Vista del Home*/

.main-container{
  width: 100vw;
  height: 100vh;
  align-items: center;
  text-align: center;
}

.main-title{  
  font-size: 10rem;
}

/** Vista de la tienda*/

.shop-container{  
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: justify;
  gap: 20px;
  margin: 25px auto;
}

.shop-container h2{
  grid-column: 1/-1;
}

.card{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #f1efef;
  
}

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-header p{
  font-size: 3.5rem;
  margin-right: 10px; /* Espacio entre el párrafo y el enlace */
  margin-left: auto;
}

.card-header i{
  font-size: 3rem;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px; /* Empuja el enlace hacia la derecha */
  margin-right: auto; /* Espacio entre el enlace y el párrafo */
}
.card-header i:hover{
  color: #fff;
  background-color: #222222;
  border-radius: 10px;
  
}

.card-header img{  
  width: 100px;
}

.card h3{
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
}

.card-content p{
  font-size: 1.5rem;
}

/** Vista del perfil de usuario */

.user-container{
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;

  align-items: center;
  justify-content: center;

}

.user-container img{

  border-radius: 50%;

}

.user-container h2{
  padding-bottom: 50px;
}

.profile-description{
  display: grid;
  padding: 0 40px;
}

.profile-description p{
  text-align: justify;
}

/** Vista de carrito */

.cart-container{
  width: 100vw; 

}

.cart-container h2{
  text-align: center;
  margin-bottom: 30px;
}

.shopping-cart-table {
  text-align: center;
  border-collapse: separate;
  border-spacing: 50px;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #fff;
  font-size: 1.5rem;
}

.options-bill-item{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  align-items: center;
  column-gap: 20px;
}

.options-bill-item i{
  font-size: 3rem;
  border-radius: 5px;
}
.options-bill-item i:hover{
  color: #fff;
  background-color: #222222;
  border-radius: 10px;
  
}

.cart-options{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  margin: 50px 0px;
}

/** Estilos del modal para advertencias*/

.modal{
  width: 100vw;
  height: 90vh; 
  display: flex;
  align-items: baseline;
  justify-content: start;
}

.modal-content{

  margin-top: 5rem;

  position: relative;

  width: 500px;
  min-height: 100px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #222222;
}

.modal-header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
  padding-bottom: 20px;  
  border-bottom: 2px solid #e8e8e8;}

.modal-content .modal-header h2{
  font-weight: 500;
  grid-column: span 2;
  font-size: 2rem;  
}

.modal-text{
  text-align: center;
  padding: 20px 10px;
}

.modal-options{
  text-align: center;
  margin-bottom: 20px;
}

/** Estilos para los formularios */

  .form{
    height: 100vh;
  }
  
  .form h2 {
    margin: 20px 0;
  }
  
  .form .form-group {
    margin-bottom: 20px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form input[type='text'],
  .form input[type='email'],
  .form input[type='password'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
  }
  
  .form button {
    padding: 10px 20px;
    background-color: #484848;
    color: #fff;
    border: none;
    border-radius: 10px;
  }
  
  .form button:hover {
    background-color: #222222;
  }

  /*! Únicamente para mejorar el aspecto de los botones que pongo para desarrollo */

  .deploy-tools{
    display: flex;
    margin: 100px;
  }

  /*! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

  /** Estilos para el footer*/
  footer{
    text-align: center;
  }


