/** Estilos generales */

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1024px;
    font-family: 'Courier Prime', monospace;
}

html{
    font-size: 62.5%; /* Esto equivale a 10px*/
}

body{
    font-size: 2rem;
    background-color: #f0f0f0;
    color: #222222;    
}

a{
    text-decoration: none;
    color: #484848;
    padding: 10px 20px;
    
}

a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #222222;
    border-radius: 10px;
       
}

/** Menú de navegación */

.navegacion{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin: 20px 0px;
    padding: 10px 15px;
    border: 2px solid #000;   
}

.navegacion div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;   
    
}

/** Vista del Home*/

.main-title{
  border: 2px solid #000;
  margin: 2rem;
  text-align: center;
}

/** Estilos para los formularios */
  
  .form h2 {
    margin: 20px 0;
  }
  
  .form .form-group {
    margin-bottom: 20px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form input[type='text'],
  .form input[type='email'],
  .form input[type='password'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
  }
  
  .form button {
    padding: 10px 20px;
    background-color: #484848;
    color: #fff;
    border: none;
    border-radius: 10px;
  }
  
  .form button:hover {
    background-color: #222222;
  }

  /*! Únicamente para mejorar el aspecto de los botones que pongo para desarrollo */

  .deploy-tools{
    display: flex;
    margin: 100px;
  }


